---
# Containers are under development
containers:
  - name: gitea
    image: gitea/gitea:1.16.8-rootless
    ports:
      - name: gitea
        containerPort: 3000
        protocol: TCP
    environment:
      GITEA__DEFAULT__RUN_MODE: dev
      GITEA__database__DB_TYPE: sqlite3
      GITEA__database__PATH: /data/gitea/gitea.db
      GITEA__picture__DISABLE_GRAVATAR: "true"
      GITEA__repository__DEFAULT_PRIVATE: "false"
      GITEA__repository__DEFAULT_PUSH_CREATE_PRIVATE: "false"
      GITEA__repository__ENABLE_PUSH_CREATE_ORG: "true"
      GITEA__repository__ENABLE_PUSH_CREATE_USER: "true"
      GITEA__repository__ONLY_ALLOW_PUSH_IF_GITEA_ENVIRONMENT_SET: "false"
      GITEA__security__INSTALL_LOCK: "true"
      GITEA__server__SSH_DOMAIN: http://gitea
      GITEA__service__DISABLE_REGISTRATION: "true"
      GITEA__service__REQUIRE_SIGNIN_VIEW: "false"
      GITEA__webhook__ALLOWED_HOST_LIST: '*'
    volumeMounts:
      - name: gitea-varlib
        mountPath: /var/lib/gitea/
      - name: gitea-data
        mountPath: /data/
      - name: gitea-etc
        mountPath: /etc/gitea
    volumes:
      - name: gitea-data
        emptyDir: {}
      - name: gitea-etc
        emptyDir: {}
      - name: gitea-varlib
        emptyDir: {}
    commands: 
        - gitea admin user create --admin --username gitea --password gitea --email dummy@dummy.com --must-change-password=false
        - >
          curl -X POST -H "accept: application/json" -H "Content-Type: application/json"
          -u 'gitea:gitea' 
          -d '{"username": "student", "full_name": "student", "description": "student"}'
          http://localhost:3000/api/v1/orgs
        - >
          curl -X POST -H "accept: application/json" -H "Content-Type: application/json"
          -u 'gitea:gitea'
          -d '{"clone_addr": "https://github.com/ansible-tmm/aap25-roadshow", "repo_name": "aap25-roadshow-content", "owner": "student", "uid": 2, "private": false}'
          http://localhost:3000/api/v1/repos/migrate
    memory: 2Gi
    services:
      - name: gitea
        ports:
          - port: 3000
            protocol: TCP
            targetPort: 3000
            name: gitea
    routes:
      - name: gitea
        host: gitea
        service: gitea
        targetPort: 3000
        tls: true
        tls_termination: Edge
  - name: code-server
    image: codercom/code-server:latest
    command: [ "code-server" ]
    args: [ "--auth", "none", "--user-data-dir", "/home/coder/.local/share/code-server", "--extensions-dir", "/home/coder/.local/share/code-server/extensions", "--bind-addr", "0.0.0.0:8080", "/home/coder/project" ]
    ports:
      - name: code-server
        containerPort: 8080
        protocol: TCP
    volumeMounts:
      - name: code-storage
        mountPath: /home/coder/
    volumes:
      - name: code-storage
        emptyDir: {}
    memory: 2Gi
    environment:
      HOME: "/home/coder"
    services:
      - name: code-server
        ports:
          - port: 8080
            protocol: TCP
            targetPort: 8080
            name: code-server
    routes:
      - name: code-server
        host: code-server
        service: code-server
        targetPort: 8080
        tls: true
        tls_termination: Edge
    commands:
      - git clone http://gitea:gitea@gitea:3000/student/aap25-roadshow-content.git /home/coder/project
      - git config --global user.name codeserver
      - git config --global user.email code@server.com
virtualmachines:
  - name: "control"
    image: "aap-25-ceh-20250731"
    memory: "16G"
    cores: 4
    image_size: "30Gi"
    disk_type: "scsi"
    bootloader: "efi"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
    userdata: |-
      #cloud-config
      user: rhel
      password: ansible123!
      chpasswd: { expire: False }
      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd
    services:
      - name: control-https
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: control-https
    routes:
      - name: control-https
        host: control
        service: control-https
        targetPort: 443
        tls: true
        tls_termination: reencrypt
        tls_destinationCACertificate: |
          -----BEGIN CERTIFICATE-----
          MIIF1jCCA76gAwIBAgIUe2W1Q9h3o224nkOx34exxp4t/14wDQYJKoZIhvcNAQEL
          BQAwgYIxCzAJBgNVBAYTAlVTMRcwFQYDVQQIDA5Ob3J0aCBDYXJvbGluYTEQMA4G
          A1UEBwwHUmFsZWlnaDEQMA4GA1UECgwHUmVkIEhhdDEQMA4GA1UECwwHQW5zaWJs
          ZTEkMCIGA1UEAwwbQW5zaWJsZSBBdXRvbWF0aW9uIFBsYXRmb3JtMB4XDTI1MDYx
          MTIxMjk1MloXDTM1MDYwOTIxMjk1MlowgYIxCzAJBgNVBAYTAlVTMRcwFQYDVQQI
          DA5Ob3J0aCBDYXJvbGluYTEQMA4GA1UEBwwHUmFsZWlnaDEQMA4GA1UECgwHUmVk
          IEhhdDEQMA4GA1UECwwHQW5zaWJsZTEkMCIGA1UEAwwbQW5zaWJsZSBBdXRvbWF0
          aW9uIFBsYXRmb3JtMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEArFQk
          DUqYR85wHOf4COw9Kzi/A7g08my+x/HrQv3nrpI2k3Y5ch1hqYmKHJ5WZDzQkrTe
          QV4klzz+NvNpBgfY8uwj3jfnZnx7hufxAJ/i24Iba3ssPSSrfZjLuuStQkkvuUDH
          HQ7xtcDu6Tag3zUVJDa/YZc4z4/vpErXD73rrmIKL1SIFnl1yvrjlpxO568qrWlr
          5fUmRGGTPpTJdb5asMrBF4YSDfCkcecAJSX2py9+bPooDM8evmazRoAt6zI6/NNr
          1tl9V5gs7kklqBiO7zE72A6trrN7iFTTuOfG0JpStzlB8o42qwNb6X8PHuA1h5yl
          ngcV5nMqbEFLWjfwFAUdiitVK+fzK6Aj9TQw1cu1Raoi229U2D1g3+uqcsbv1JAU
          2l92DdCyFp9eWieUdhfvJiiNE0fQvGn83Q1jNYSQujN34O04Sj1sKsIrNn8H4fSf
          U97VVyS4bxNrMFKycAS1sR73SF1rRuJoxn/Asofy2tKwKroSaWhVuMuuQ8qAPwZ6
          2INRL2xv4mcOEldfOrPziTPAPFuvFGMvq0pxxLivTgzOCrobm/KEF/GBVDyrOIIp
          08PmInk2CzDQhE2Kb7NRqBvDCzZY3ymbUJCs+jC+yD1RuRsSXAqh40RVvsITALq9
          cOrkvVcXcMZv0xhmy4P4ML9EMGt66dNpBAs7BasCAwEAAaNCMEAwDgYDVR0PAQH/
          BAQDAgIEMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFNBhFK8jR0jITYvx8XFw
          Pn/ysLluMA0GCSqGSIb3DQEBCwUAA4ICAQAUcHGvSy6SCN9rpllHRVOHtXeyvJ5+
          iGbEL+4ZBabFvsBQ09XwNsX+SMI1hz5dGhbwynNi9NacxL8JfGwlA/2y1/ie0fuy
          A9HjJpJHV+gK61nmHzBoJOwVtpaFvwuoxeXHGgAausUgk5vCJddpZIwkRXwHpFq5
          YtjwJ+Rld8mRm951dvO+6vFAsiE5BaMSN/uuV/MDj3Yx8GEwyRZbw/lozHSMt43d
          zmt5cagh2dKwXDe62gbwpE6xjbC7qaU4lIFf52UEDLf4HOykDMRTWPxnxZUMW+vd
          dMd+atPqKGwRBx10E37YEw0iPuTlNV138mnoxBEP+BnWQiyu/51hF52nBDmCNO5d
          Iw75JJTriPbU3MH8APPaxaeDpCYpa0ptMJbr6ePauJmkf6e0eTTmAbbKEvbGS75d
          TcYdxMQx9o0XTE0xiIaTf6zcIAukqScrlQflqVtZgwTK0PGlKAgrNdhBGAvX1TGA
          BtDAy5SDjyI0Eq/+lumRaB531+AkzxI2GRKfEuiEyZHCjnFFDOG6USuSki78jA3x
          vT2LNPmDbOd7H6gAi7XnjN2jC6JwNOFzAdBD9jAyQvVG6IBn0E5YK8dtYdxVozkW
          EnnoC+ESiSzEWCewL9HQ3JJEaj94GUJkXY/DsIxUP1XJvljYmr7TDAwn0d8AiP9Z
          jUlWl862ifqzUg==
          -----END CERTIFICATE-----
  - name: "cisco"
    image: "cisco-csr-17-3-9"
    memory: "2G"
    cores: 2
    image_size: "30Gi"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
    # userdata: |-
    #   #cloud-config
    #   user: rhel
    #   password: ansible123!
    #   chpasswd: { expire: False }  
    #   runcmd:
    #     - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
    #     - systemctl reload sshd

